.CharacterGrid {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-around;
    padding: 28px 16px 16px;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */

    margin-bottom: 84px;
}

/* .CharacterGallery {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 16px;
} */

.CharacterGrid figure {
    min-width: 135px;
    border-radius: 35px;
    height: 150px;
    scale: 0.9;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.CharacterGrid figure img {
    scale: 1.2;
    transform: translate(0px, -10px);
}

/* .swiper-slide {
    width: 33% !important;
    margin-right: 30px !important;
} */

.CharacterSlider {
    display: flex;
    /* margin: 0 0.75rem; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.CharacterSlider.gallery {
    flex-wrap: wrap;
}

.CharacterSlider::-webkit-scrollbar {
    display: none;
}

.CharacterCards {
    flex: 0 0 33.33%;
    scroll-snap-align: start;
    margin-right: 10px;
}

.CharacterSlider.gallery .CharacterCards {
    flex: 0 0 50%;
    margin: 0;
    padding: 8px 8px 24px;
}
