.Main__image {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    transform: translateX(10px); */

    max-height: 300px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 600px) {
    .Main__image {
        height: 450px;
        max-height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .Main__image {
        height: 650px;
        max-height: 100%;
    }
}

.hide {
    display: none;
}
