body {
    /* max-width: 400px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
}

.App {
    max-width: 500px;
    width: 100%;
    background-image: url("./Assets/T.O.P_Background.webp");
    /* height: 100vh; */
    background-position: center;
    background-size: cover;
    backdrop-filter: none;
}

@media screen and (min-width: 400px) {
    body {
        flex-direction: column;
        justify-content: center;
    }
}
